.about-section {
  padding-top: 10rem;
  background: linear-gradient(
    to bottom,
    $black 0%,
    #{fade-out($black, 0.1)} 75%,
    #{fade-out($black, 0.2)} 100%
  );
  p {
    margin-bottom: 5rem;
  }
}
.image-shadow {
  box-shadow: 1.95px 1.95px 2.6px rgb(0 0 0 / 15%);
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}
